@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

.dark {
  --background: linear-gradient(to right,#070c19,  #070c19);
  --foreground: #f8fafc;
}

body {
  background: var(--background);
  color: var(--foreground);

  transition:
    background 0.3s,
    color 0.3s;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 300% 50%;
  }
}

