@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
	--background: #eee;
	--foreground: #0f172a;
	--backgroundCard: #ffffff;
}

.dark {
	--background: linear-gradient(to right, #001d35, #070c19);
	--foreground: #f8fafc;
	--backgroundCard: #ffffff00;
}

body {
	background: var(--background);
	color: var(--foreground);

	transition:
		background 0.3s,
		color 0.3s;
}
.darkBg {
	background: var(--backgroundCard);
}

@keyframes gradientMove {
	0% {
		background-position: 0% 50%;
	}

	100% {
		background-position: 300% 50%;
	}
}
/* 
.step{
  border: 1px solid red;
  border-right: none;
  border-bottom: none;
} */
/* 
---break--- */
@theme inline {
	--animate-orbit: orbit calc(var(--duration)*1s) linear infinite;
  @keyframes orbit {
  0% {
    transform: rotate(calc(var(--angle) * 1deg)) translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
		}
  100% {
    transform: rotate(calc(var(--angle) * 1deg + 360deg)) translateY(calc(var(--radius) * 1px)) rotate(calc((var(--angle) * -1deg) - 360deg));
		}
	}
}